# series 시리즈 (1차원 배열)
1. 딕셔너리로 시리즈 생성
2. 리스트로 시리즈 생성

In [1]:
import pandas as pd

s = pd.Series([20, 8, 20, 20, 10])
print(s)

0    20
1     8
2    20
3    20
4    10
dtype: int64

In [9]:
import pandas as pd
city = {'서울': 940, '부산': 330, '울산': 110}
df = pd.Series(city)      # 판다스의 Series 메서드를 사용하여 시리즈를 생성한다.
print(df,"\n")
df = pd.Series(city, index = ['부산', '울산'])
print(df)

서울    940
부산    330
울산    110
dtype: int64

부산    330
울산    110
dtype: int64

In [2]:
import pandas as pd
city = ['서울', '부산', '울산']
df = pd.Series(city)
print(df)
df = pd.Series(city, index = ['x', 'y', 'z'])
print(df)

0    서울
1    부산
2    울산
dtype: object
x    서울
y    부산
z    울산
dtype: object

# dataframe 데이터프레임 (2차원 배열)

In [6]:
df = pd.DataFrame([20, 8, 20, 20, 10], columns=['HW1'])
print(df)

   HW1
0   20
1    8
2   20
3   20
4   10

In [12]:
city = {
    '도시': ['서울', '부산', '울산'],
    '인구': [940, 330, 110]
}
df = pd.DataFrame(city, index=range(1, 4))
print(df, "\n") 
df = pd.DataFrame(city)
print(df, "\n")               # DataFrame 메서드를 사용하여 데이터프레임을 생성한다.
print(df.loc[0], "\n")         # 시리즈 형태로 보여준다.
print(df.loc[[0]], "\n")      # 데이터프레임 형태로 보여준다.
print(df.loc[[0, 2]])           # 0행, 2행만 출력

   도시   인구
1  서울  940
2  부산  330
3  울산  110

   도시   인구
0  서울  940
1  부산  330
2  울산  110

도시     서울
인구    940
Name: 0, dtype: object

   도시   인구
0  서울  940

   도시   인구
0  서울  940
2  울산  110

# 1D Table with an Index

In [13]:
# Series by List

s = pd.Series([20, 8, 20, 20, 10],
        index = ["S001", "S002", "S003", "S004", "S005"],
        name = 'HW1')
s.index.name = 'SID'
print(s)

SID
S001    20
S002     8
S003    20
S004    20
S005    10
Name: HW1, dtype: int64

In [16]:
# Data Frame by List

df = pd.DataFrame([20, 8, 20, 20, 10],
        index = ["S001", "S002", "S003", "S004", "S005"],
        columns = ['HW1'])
df.index.name = 'SID'
print(df)

      HW1
SID
S001   20
S002    8
S003   20
S004   20
S005   10

# 2D Table without an Index

In [21]:
# Data Frame by List

df = pd.DataFrame([[20, 20, 20], [8, 20, 20], [20, 18, 18], [20, 20, 20], [10, 18, 18]],
        columns = ['HW1', 'HW2', 'Quiz'])
print(df, "\n")
df.index.name = 'SID'
print(df)

   HW1  HW2  Quiz
0   20   20    20
1    8   20    20
2   20   18    18
3   20   20    20
4   10   18    18

     HW1  HW2  Quiz
SID
0     20   20    20
1      8   20    20
2     20   18    18
3     20   20    20
4     10   18    18

In [23]:
# Data Frame by Dictionary and List

df = pd.DataFrame({
    'HW1' : [20, 8, 20, 20, 10],
    'HW2' : [20, 20, 18, 20, 18],
    'Quiz' : [20, 20, 18, 20, 18]})
print(df, "\n")
df.index.name = 'SID'
print(df)

   HW1  HW2  Quiz
0   20   20    20
1    8   20    20
2   20   18    18
3   20   20    20
4   10   18    18

     HW1  HW2  Quiz
SID
0     20   20    20
1      8   20    20
2     20   18    18
3     20   20    20
4     10   18    18

# Operations

In [24]:
df = pd.DataFrame({
    'HW1' : [20, 8, 20, 20, 10],
    'HW2' : [20, 20, 18, 20, 18],
    'Quiz' : [20, 20, 18, 20, 18]},
    index = ["S001", "S002", "S003", "S004", "S005"])
print(df.mean())        # 열 별로 평균 구함

HW1     15.6
HW2     19.2
Quiz    19.2
dtype: float64

# Object Creation

In [25]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])  # nan(not a number) : float형태로 값이 없음
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Viewing Data

In [56]:
import numpy as np
import pandas as pd

dates = pd.date_range('20200101', periods=6)
# date_range : 날짜 데이터 생성, periods : 개수
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
# np.random.randn() : 표준정규분포표에서 임의의 수 추출한 뒤 N차원 배열 생성 ((6, 4) 는 6*4 배열)

print(df, '\n')
print(df.head())    # head() : 상위 5행 출력

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-06  1.479968 -1.315190  1.510730  0.630564

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589

In [54]:
print(df.index, '\n')   # index만 출력 (행 이름)
print(df.columns)       # columns만 출력 (열 이름)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['A', 'B', 'C', 'D'], dtype='object')

In [59]:
print(df.describe(), '\n')      # discribe() : 데이터의 컬럼별 요약 통계량을 나타냄
print(df.T)                     # T : row 와 column 바꾸기

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.008489 -0.143519  0.169367  0.690084
std    1.477565  1.094673  0.902479  0.812064
min   -1.697775 -1.377292 -0.785237 -0.572160
25%   -1.302124 -1.143455 -0.411342  0.466892
50%    0.049681 -0.016995 -0.147692  0.707221
75%    1.205586  0.832506  0.777068  0.910411
max    1.709317  0.953435  1.510730  1.933298

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -1.697775   -1.641806    0.382440    1.709317   -0.283077    1.479968
B   -1.377292    0.953435   -0.628248    0.594258    0.911922   -1.315190
C    1.010088   -0.423993   -0.373389   -0.785237    0.078006    1.510730
D   -0.572160    0.412334    1.933298    0.783878    0.952589    0.630564

In [65]:
print(df.sort_index(axis=1, ascending=False), '\n')     # axis=1 : 열 기준 정렬
print(df.sort_index(axis=0, ascending=False))           # axis=0 : 행 기준 정렬, ascending=False 이므로 내림차순

                   D         C         B         A
2020-01-01 -0.572160  1.010088 -1.377292 -1.697775
2020-01-02  0.412334 -0.423993  0.953435 -1.641806
2020-01-03  1.933298 -0.373389 -0.628248  0.382440
2020-01-04  0.783878 -0.785237  0.594258  1.709317
2020-01-05  0.952589  0.078006  0.911922 -0.283077
2020-01-06  0.630564  1.510730 -1.315190  1.479968

                   A         B         C         D
2020-01-06  1.479968 -1.315190  1.510730  0.630564
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160

In [77]:
# sort_values() : 데이터 값을 기준으로 정렬
# by=['B'] : 특정 열의 값을 기준으로 정렬 (B 기준)
# ascending(상승) : True-오름차순, False-내림차순

print(df.sort_values(by=['B']), '\n')
print(df.sort_values(by='B', ascending=False), '\n')
print(df.sort_values(by=['B', 'D'], ascending=[True, False]))   # B가 같은 경우 -> D 기준 정렬

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-06  1.479968 -1.315190  1.510730  0.630564
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-02 -1.641806  0.953435 -0.423993  0.412334

                   A         B         C         D
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-06  1.479968 -1.315190  1.510730  0.630564
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-06  1.479968 -1.315190  1.510730  0.630564
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-02 -1.641806  0.953435 -0.423993  0.412334

In [97]:
df_1 = pd.DataFrame(np.arange(24).reshape(6, 4), index=dates, columns=list('ABCD'))
print(df_1, '\n')
print(df_1.sort_values(by=['B', 'D'], ascending=[False, True]), '\n')
print(df_1.sort_values(by=['B', 'D'], ascending=[True, True]))

             A   B   C   D
2020-01-01   0   1   2   3
2020-01-02   4   5   6   7
2020-01-03   8   9  10  11
2020-01-04  12  13  14  15
2020-01-05  16  17  18  19
2020-01-06  20  21  22  23

             A   B   C   D
2020-01-06  20  21  22  23
2020-01-05  16  17  18  19
2020-01-04  12  13  14  15
2020-01-03   8   9  10  11
2020-01-02   4   5   6   7
2020-01-01   0   1   2   3

             A   B   C   D
2020-01-01   0   1   2   3
2020-01-02   4   5   6   7
2020-01-03   8   9  10  11
2020-01-04  12  13  14  15
2020-01-05  16  17  18  19
2020-01-06  20  21  22  23

# Selection

In [90]:
print(df['A'])      # axis=1

2020-01-01   -1.697775
2020-01-02   -1.641806
2020-01-03    0.382440
2020-01-04    1.709317
2020-01-05   -0.283077
2020-01-06    1.479968
Freq: D, Name: A, dtype: float64

In [92]:
print(df[0:3])      # axis=0
print(df['20200102':'20200104'])    # 라벨 기반 슬라이싱은 끝 값 포함!!

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
                   A         B         C         D
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878

In [114]:
# loc = location 약자, loc[행, 열] 형태로 사용
# loc : selection by label
print(df.loc[:, :], '\n')
print(df.loc[dates[0]], '\n')
print(df.loc[:, 'C'])   # print(df['A']) 와 같음

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-06  1.479968 -1.315190  1.510730  0.630564

A   -1.697775
B   -1.377292
C    1.010088
D   -0.572160
Name: 2020-01-01 00:00:00, dtype: float64

2020-01-01    1.010088
2020-01-02   -0.423993
2020-01-03   -0.373389
2020-01-04   -0.785237
2020-01-05    0.078006
2020-01-06    1.510730
Freq: D, Name: C, dtype: float64

In [110]:
print(df.loc[:, ['A','B']], '\n')
print(df.loc['20200102':'20200104', ['A','C']], '\n')
print(df.loc['20200102', ['A','B']], '\n')
print(df.loc[dates[0], 'A'])

                   A         B
2020-01-01 -1.697775 -1.377292
2020-01-02 -1.641806  0.953435
2020-01-03  0.382440 -0.628248
2020-01-04  1.709317  0.594258
2020-01-05 -0.283077  0.911922
2020-01-06  1.479968 -1.315190

                   A         C
2020-01-02 -1.641806 -0.423993
2020-01-03  0.382440 -0.373389
2020-01-04  1.709317 -0.785237

A   -1.641806
B    0.953435
Name: 2020-01-02 00:00:00, dtype: float64

-1.6977753270686504

In [116]:
# iloc = integer location
# iloc : selection by position
# iloc 와 loc의 차이점 : iloc는 숫자로 접근, loc는 이름으로 접근
print(df, '\n')
print(df.iloc[3])

                   A         B         C         D
2020-01-01 -1.697775 -1.377292  1.010088 -0.572160
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-05 -0.283077  0.911922  0.078006  0.952589
2020-01-06  1.479968 -1.315190  1.510730  0.630564

A    1.709317
B    0.594258
C   -0.785237
D    0.783878
Name: 2020-01-04 00:00:00, dtype: float64

In [122]:
print(df.iloc[3:5, 0:2], '\n')
print(df.iloc[[1, 2, 4], [0, 2]], '\n')
print(df.iloc[1:3, :], '\n')
print(df.iloc[:, 1:3], '\n')
print(df.iloc[1, 1])

                   A         B
2020-01-04  1.709317  0.594258
2020-01-05 -0.283077  0.911922

                   A         C
2020-01-02 -1.641806 -0.423993
2020-01-03  0.382440 -0.373389
2020-01-05 -0.283077  0.078006

                   A         B         C         D
2020-01-02 -1.641806  0.953435 -0.423993  0.412334
2020-01-03  0.382440 -0.628248 -0.373389  1.933298

                   B         C
2020-01-01 -1.377292  1.010088
2020-01-02  0.953435 -0.423993
2020-01-03 -0.628248 -0.373389
2020-01-04  0.594258 -0.785237
2020-01-05  0.911922  0.078006
2020-01-06 -1.315190  1.510730

0.9534352039335712

In [124]:
# Boolean indexing
print(df[df.A > 0], '\n')     # A열의 값이 0보다 클때만 출력
print(df[df > 0])

                   A         B         C         D
2020-01-03  0.382440 -0.628248 -0.373389  1.933298
2020-01-04  1.709317  0.594258 -0.785237  0.783878
2020-01-06  1.479968 -1.315190  1.510730  0.630564
                   A         B         C         D
2020-01-01       NaN       NaN  1.010088       NaN
2020-01-02       NaN  0.953435       NaN  0.412334
2020-01-03  0.382440       NaN       NaN  1.933298
2020-01-04  1.709317  0.594258       NaN  0.783878
2020-01-05       NaN  0.911922  0.078006  0.952589
2020-01-06  1.479968       NaN  1.510730  0.630564

In [10]:
# Setting
import pandas as pd
import numpy as np
dates = pd.date_range('20200101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

s1 = pd.Series(range(1,7), index=dates)
print(s1)

2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
Freq: D, dtype: int64

In [11]:
df['F'] = s1
print(df, '\n')

# at, iat : 하나의 값 (스칼라 값) 에만 접근
# at : label 기준
df.at[dates[0], 'A'] = 0
print(df, '\n')

# iat : position 기준
df.iat[0, 1] = 0
print(df)

                   A         B         C         D  F
2020-01-01  0.243770 -0.216405  0.269116  0.808453  1
2020-01-02 -0.223662 -0.729147 -2.237563  2.532437  2
2020-01-03 -2.078465  1.323990 -0.293031  2.131573  3
2020-01-04 -0.073358  0.154803  0.192931 -1.159310  4
2020-01-05  1.471253  0.609699 -0.034321  0.451937  5
2020-01-06 -0.974661 -2.386897 -1.002752  0.562214  6

                   A         B         C         D  F
2020-01-01  0.000000 -0.216405  0.269116  0.808453  1
2020-01-02 -0.223662 -0.729147 -2.237563  2.532437  2
2020-01-03 -2.078465  1.323990 -0.293031  2.131573  3
2020-01-04 -0.073358  0.154803  0.192931 -1.159310  4
2020-01-05  1.471253  0.609699 -0.034321  0.451937  5
2020-01-06 -0.974661 -2.386897 -1.002752  0.562214  6

                   A         B         C         D  F
2020-01-01  0.000000  0.000000  0.269116  0.808453  1
2020-01-02 -0.223662 -0.729147 -2.237563  2.532437  2
2020-01-03 -2.078465  1.323990 -0.293031  2.131573  3
2020-01-04 -0.073358  0.154803  0.192931 -1.159310  4
2020-01-05  1.471253  0.609699 -0.034321  0.451937  5
2020-01-06 -0.974661 -2.386897 -1.002752  0.562214  6

In [12]:
df.loc[:, 'D'] = np.array([5] * len(df))
print(df)

                   A         B         C    D  F
2020-01-01  0.000000  0.000000  0.269116  5.0  1
2020-01-02 -0.223662 -0.729147 -2.237563  5.0  2
2020-01-03 -2.078465  1.323990 -0.293031  5.0  3
2020-01-04 -0.073358  0.154803  0.192931  5.0  4
2020-01-05  1.471253  0.609699 -0.034321  5.0  5
2020-01-06 -0.974661 -2.386897 -1.002752  5.0  6

In [14]:
# Missing Data
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
print(df1)
print(df1.fillna(value = 5))        # fillna : 결측값 변경

                   A         B         C    D  F    E
2020-01-01  0.000000  0.000000  0.269116  5.0  1  1.0
2020-01-02 -0.223662 -0.729147 -2.237563  5.0  2  1.0
2020-01-03 -2.078465  1.323990 -0.293031  5.0  3  NaN
2020-01-04 -0.073358  0.154803  0.192931  5.0  4  NaN
                   A         B         C    D  F    E
2020-01-01  0.000000  0.000000  0.269116  5.0  1  1.0
2020-01-02 -0.223662 -0.729147 -2.237563  5.0  2  1.0
2020-01-03 -2.078465  1.323990 -0.293031  5.0  3  5.0
2020-01-04 -0.073358  0.154803  0.192931  5.0  4  5.0

In [15]:
print(pd.isna(df1))     # isna == isnall 과 동일 : 결측값 True 로 반환
# isna <-> notna

                A      B      C      D      F      E
2020-01-01  False  False  False  False  False  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

# Operations

In [23]:
# Stats
print(df, '\n')
print(df.mean(), '\n')      # mean 안의 값 = axis
print(df.mean(1))           # mean(1) = mean(axis=1), (axis=1은 열 기준, 0은 행 기준)

                   A         B         C    D  F
2020-01-01  0.000000  0.000000  0.269116  5.0  1
2020-01-02 -0.223662 -0.729147 -2.237563  5.0  2
2020-01-03 -2.078465  1.323990 -0.293031  5.0  3
2020-01-04 -0.073358  0.154803  0.192931  5.0  4
2020-01-05  1.471253  0.609699 -0.034321  5.0  5
2020-01-06 -0.974661 -2.386897 -1.002752  5.0  6

A   -0.313149
B   -0.171259
C   -0.517603
D    5.000000
F    3.500000
dtype: float64

2020-01-01    1.253823
2020-01-02    0.761925
2020-01-03    1.390499
2020-01-04    1.854875
2020-01-05    2.409326
2020-01-06    1.327138
Freq: D, dtype: float64

In [29]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(periods=2) # 그냥 2만 써도 됨
print(s, '\n')
print(df.sub(s, axis='index'))      # df 에서 index 기준 s 뺄셈

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

                   A         B         C    D    F
2020-01-01       NaN       NaN       NaN  NaN  NaN
2020-01-02       NaN       NaN       NaN  NaN  NaN
2020-01-03 -3.078465  0.323990 -1.293031  4.0  2.0
2020-01-04 -3.073358 -2.845197 -2.807069  2.0  1.0
2020-01-05 -3.528747 -4.390301 -5.034321  0.0  0.0
2020-01-06       NaN       NaN       NaN  NaN  NaN

In [35]:
# Histogramming
s = pd.Series(np.random.randint(0, 7, size=10)) # start 이상 stop 이하 범위의 정수 난수 생성
print(s, '\n')
print(s.value_counts(), '\n')
print(type(s.value_counts()))

0    5
1    6
2    4
3    0
4    2
5    2
6    2
7    2
8    1
9    2
dtype: int64

2    5
5    1
6    1
4    1
0    1
1    1
Name: count, dtype: int64

<class 'pandas.core.series.Series'>

# Merge

In [38]:
# Concat
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10, 4))
print(df, '\n')

pieces = [df[:3], df[3:6], df[7:]]
print(pd.concat(pieces))    # concat : 객체 결합

          0         1         2         3
0  1.104877  0.748570  0.930796 -0.707552
1 -2.101828  1.278033 -1.313554  0.387158
2 -0.191780  1.083989  0.013321 -0.288487
3 -0.037181 -0.299270  0.369176 -1.728739
4 -2.176128 -0.350548  0.600077 -2.528268
5 -1.215983  0.188806  0.322674  0.916155
6  0.036287  0.123874  2.696938 -1.148159
7  0.062371 -0.641551  1.390887  1.542884
8 -0.823036 -2.276959 -0.018017 -0.491106
9  0.293823 -0.560835  0.797663  0.002475

          0         1         2         3
0  1.104877  0.748570  0.930796 -0.707552
1 -2.101828  1.278033 -1.313554  0.387158
2 -0.191780  1.083989  0.013321 -0.288487
3 -0.037181 -0.299270  0.369176 -1.728739
4 -2.176128 -0.350548  0.600077 -2.528268
5 -1.215983  0.188806  0.322674  0.916155
7  0.062371 -0.641551  1.390887  1.542884
8 -0.823036 -2.276959 -0.018017 -0.491106
9  0.293823 -0.560835  0.797663  0.002475

In [39]:
df = pd.DataFrame(np.random.randn(6, 4))
print(df, '\n')

df3 = pd.DataFrame(np.random.randn(3, 4))
print(df3, '\n')

pieces = [df, df3]
print(pd.concat(pieces))

          0         1         2         3
0  1.931755  0.383753 -1.338042 -2.503435
1 -0.375347  1.244242 -0.696792  0.240503
2  0.410698 -0.776419  0.778159 -0.307434
3 -0.523620 -1.590945 -1.650994 -0.890264
4 -0.220208  0.665654  1.777391  1.558292
5 -0.312205  1.295167  0.406618  0.092672

          0         1         2         3
0 -0.920922  0.757670 -1.376818 -0.137730
1  0.968508 -0.443234  0.416341 -1.564508
2 -0.086070 -0.004492 -1.390928  2.080861

          0         1         2         3
0  1.931755  0.383753 -1.338042 -2.503435
1 -0.375347  1.244242 -0.696792  0.240503
2  0.410698 -0.776419  0.778159 -0.307434
3 -0.523620 -1.590945 -1.650994 -0.890264
4 -0.220208  0.665654  1.777391  1.558292
5 -0.312205  1.295167  0.406618  0.092672
0 -0.920922  0.757670 -1.376818 -0.137730
1  0.968508 -0.443234  0.416341 -1.564508
2 -0.086070 -0.004492 -1.390928  2.080861

In [41]:
# Join
import pandas as pd

left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1, 2]})
print(left, '\n')

right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[4, 5]})
print(right, '\n')

print(pd.merge(left, right, on='key'))

   key  lval
0  foo     1
1  foo     2

   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5