# Pandas - 실습 과제

In [60]:
import pandas as pd
import numpy as np

In [61]:
f = open('grade.csv', 'r')
lines = f.readlines()
f.close()

line_1 = lines[0].strip().split(',')
data = [line.strip().split(',') for line in lines[1:]]

df = pd.DataFrame(data, columns=line_1)
df.iloc[:, 1:] = df.iloc[:, 1:].astype(int)
df['Sum'] = df.iloc[:, 1:].sum(axis=1)
df['Mean'] = df.iloc[:, 1:-1].mean(axis=1)

print(df)

     SID HW1 HW2 Quiz Mid-term Final  Sum  Mean
0   S001  20  20   20       20    20  100  20.0
1   S002   8  20   20       20    10   78  15.6
2   S003  20  18   18       18    10   84  16.8
3   S004  20  20   20       18    10   88  17.6
4   S005  10  18   18       18     5   69  13.8
5   S006  18  18   18       15     5   74  14.8
6   S007  10  18   18       10     3   59  11.8
7   S008  20  20   20       20    15   95  19.0
8   S009  15  18   10       18     5   66  13.2
9   S010  19  17   17       17    17   87  17.4
10  S011  20  18   18       18    10   84  16.8
11  S012  20  18   18       18     5   79  15.8
12  S013  15  18   10       20     7   70  14.0
13  S014   5  15   10       10    15   55  11.0
14  S015  10  15   15       15     3   58  11.6

In [62]:
df_salary = pd.DataFrame([
    [1, 'Alice', 25, 50000],
    [2, 'Bob', 30, 60000],
    [3, 'Charlie', 35, 70000],
    [4, 'David', 40, 80000],
    [5, 'Eva', 45, 90000]
], columns=['ID', 'Name', 'Age', 'Salary'])

print(df_salary, '\n')
print(df_salary.iloc[:3], '\n')
df_name_salary = df_salary[['Name', 'Salary']]
print(df_name_salary, '\n')
print(df_salary[df_salary['Age'] >= 30])

   ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000
4   5      Eva   45   90000

   ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000
3    David   80000
4      Eva   90000

   ID     Name  Age  Salary
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000
4   5      Eva   45   90000

In [64]:
df_salary = pd.DataFrame([
    [1, 'Alice', 25, 50000],
    [2, 'Bob', np.nan, 60000],
    [3, np.nan, 35, np.nan],
    [4, 'David', 40, 80000],
    [5, 'Eva', np.nan, 90000]
], columns=['ID', 'Name', 'Age', 'Salary'])

print(df_salary, '\n')
print(df_salary.isna().sum(), '\n')
print(df_salary.isna().sum().sum(), '\n')

df_salary['Age'].fillna(value = df_salary['Age'].mean())
df_salary['Name'].fillna(value = 'Unknown')
df_salary['Salary'].fillna(0)

   ID   Name   Age   Salary
0   1  Alice  25.0  50000.0
1   2    Bob   NaN  60000.0
2   3    NaN  35.0      NaN
3   4  David  40.0  80000.0
4   5    Eva   NaN  90000.0

ID        0
Name      1
Age       2
Salary    1
dtype: int64

4

0    50000.0
1    60000.0
2        0.0
3    80000.0
4    90000.0
Name: Salary, dtype: float64

In [67]:
df = pd.DataFrame([
    [1, 'Alice', 'HR', 50000],
    [2, 'Bob', 'IT', 60000],
    [3, 'Charlie', 'IT', 70000],
    [4, 'David', 'HR', 80000],
    [5, 'Eva', 'IT', 90000]
], columns=['ID', 'Name', 'Department', 'Salary'])

print(df)

average_salary = df.groupby('Department')['Salary'].mean()
average_salary

   ID     Name Department  Salary
0   1    Alice         HR   50000
1   2      Bob         IT   60000
2   3  Charlie         IT   70000
3   4    David         HR   80000
4   5      Eva         IT   90000

Department
HR    65000.000000
IT    73333.333333
Name: Salary, dtype: float64

In [71]:
df1 = pd.DataFrame([
    [1, 'Alice', 25],
    [2, 'Bob', 30],
    [3, 'Charlie', 35]
], columns=['ID', 'Name', 'Age'])

df2 = pd.DataFrame([
    [1, 50000],
    [2, 60000],
    [4, 80000]
], columns=['ID', 'Salary'])

inner_join = pd.merge(df1, df2, on='ID', how='inner')
print(inner_join, '\n')

left_join = pd.merge(df1, df2, on='ID', how='left')
print(left_join, '\n')

outer_join = pd.merge(df1, df2, on='ID', how='outer')
print(outer_join)

   ID   Name  Age  Salary
0   1  Alice   25   50000
1   2    Bob   30   60000

   ID     Name  Age   Salary
0   1    Alice   25  50000.0
1   2      Bob   30  60000.0
2   3  Charlie   35      NaN

   ID     Name   Age   Salary
0   1    Alice  25.0  50000.0
1   2      Bob  30.0  60000.0
2   3  Charlie  35.0      NaN
3   4      NaN   NaN  80000.0

In [81]:
df = pd.DataFrame([
    ['Alice', 85],
    ['Bob', 40],
    ['Charlie', 70],
    ['David', 90],
    ['Eva', 30]
], columns=['Name', 'Score'])

df['Result'] = df['Score'].apply(lambda x: 'Pass' if x >= 50 else 'Fail')

print(df)

      Name  Score Result
0    Alice     85   Pass
1      Bob     40   Fail
2  Charlie     70   Pass
3    David     90   Pass
4      Eva     30   Fail